# Project
node_modules/
.next/
out/
build/
dist/

# Env & Secrets
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db

# App Specific
# modern/  <-- Don't ignore this, it's the main project now!
.agent/
__pycache__/
*.py[cod]
*$py.class
